
#toc-collapse {
  display: none !important;
}

.navbar-light .navbar-toggler {
  display: none !important;
}

footer p {
  display: none;
}

li {
  padding-bottom: .6em;
}

.bg-primary {
    background-color: #25C0B0 !important;
}

a {
  color: #25C0B0;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #25C0B0;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: #efa465;
}
